<!doctype html>
<html>
<head>
    <title><%- site.title %></title>
    <meta charset="utf-8">
    <meta name="description" content="<%- site.large_description %>"/>
    <meta name="keywords" content="<%- site.keywords %>"/>
    <meta name="copyright" content="<%- company.domain %>"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '<%- site.google_analitics_token %>', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
<div class="container">
    <div class="alert hide" role="alert" id="alert"></div>
    <div class="page-header text-left">
        <div class="well">
            <h1><img src="logo32x32.png"/><%= site.title %><a href="/logout"
                                                              class="btn btn-warning btn-md pull-right"><span
                            class="fa fa-sign-out"></span> Sign out</a></h1>
            <p>
                <strong>id</strong>: <%= user._id %><br>
                <strong>email</strong>: <%= user.email %><br>
                <!-- <strong>password</strong>: <%= user.password %> -->
            </p>
            <a href="/" class="btn btn-warning btn-md pull-right"><span class="glyphicon glyphicon-home"></span>
                Home</a>
        </div>
    </div>

    <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <% if (user.getSubscriptionState() && user.getSubscriptionState() !== 'active') { %>
    <div class="alert alert-warning">Your subscription is <%= user.getSubscriptionState() %>. Resubscribe or contact the
        administrator.
    </div>
    <% } %>

    <div class="row">
        <div class="col-sm-6">
            <a href="/downloads" class="btn btn-success download">Download</a>
            <% if (user.getSubscriptionState() === 'active') { %>
            <form action="/build_installer_request" method="get">
                <button type="submit" class="btn btn-primary">Build last stable <%= project.name %> version
                </button>
            </form>
            <% } %>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-5">&nbsp;</div>
                <div class="col-sm-7 text-right">
                    <% if (user.enableSubscription()) { %>
                    <button type="submit" class="btn btn-primary" id="subscription" data-fsc-action="Add,Checkout"
                            data-fsc-item-path-value="fastoredis-subscription">
                        Order Subscription
                    </button>
                    <strong><span data-fsc-item-path="fastoredis-subscription" data-fsc-item-price></span> / 1
                        Month</strong>
                    <% } else if (user.getSubscriptionState() === 'active') { %>
                    <form action="/cancel_subscription" method="post">
                        <button type="submit" class="btn btn-primary">Cancel Subscription</button>
                    </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="well">
            <h3>Why do we need subscriptions?</h3>
            <strong><%- site.title %></strong> was founded in November 2014 and since that time more than 40 releases
            had
            been published. In <strong><%- site.title %></strong> we implemented complex features:
            <ul>
                <li>Redis clusters</li>
                <li>Redis sentinel</li>
                <li>Redis Unix socket connections</li>
                <li>Redis labs connections with autentification</li>
                <li>Redis SSH tunneling</li>
                <li>Redis Publish/Subscribe dialog</li>
                <li>SSL/TLS Redis connections(Microsoft Azure service)</li>

                <li>Redis TTL keys handling without reloading tree</li>
                <li>Commands handling which influence into explorer tree, without reloading</li>
                <li>UTF-8 encoding</li>
                <li>Binary keys/values</li>
                <li>Key filters</li>
                <li>Redis modules (redis-graph, redisearch, rejson, neural-redis)</li>
            </ul>
            We need your <strong>support</strong>, <strong>understanding</strong>, <strong>feedbacks</strong>.
            In order to develop we are introducing <strong>paid Subscriptions for users</strong>.</br>
            The subscription gives access to <strong>individual unlimited binaries</strong> for <strong><span
                        data-fsc-item-path="fastoredis-subscription" data-fsc-item-price></span></strong>
            per month.
            We are waiting for your feedback! Please write any issues and proposals to <a
                    href="<%- site.github_issues_link %>" alt="Redis GUI">GitHub Issues</a>..
        </div>
    </div>
</div>
<!-- Fastspring actions -->
<script>
    /**
     * Render alert block
     * @param {String} status - options: success, info, warning, danger
     * @param {String} message - message from request
     */
    function viewAlert(status, message) {
        var el = document.getElementById('alert');
        var btn = document.getElementById('subscription');
        var classList = el.classList;

        el.innerHTML = message;

        classList.add('alert-' + status);
        classList.add('hide');
        classList.add('show');

        btn.disabled = true;

        setTimeout(function () {
            classList.remove('show', 'alert-' + status);
            classList.add('hide');
            el.innerHTML = '';
            btn.disabled = false;

            status === 'success'
            && window.location.reload();
        }, 3000);
    }

    function onPopupClose(data) {
        console.log('onPopupClose', JSON.stringify(data));
        if (data) {
            $.ajax({
                type: 'POST',
                url: '/subscription',
                data: {data: JSON.stringify(data)},
                success: function (response) {
                    viewAlert('success', response);
                },
                error: function (response) {
                    viewAlert('danger', response.responseText);
                }
            });
        }
    }
</script>

<!-- Fastspring script -->
<script id="fsc-api"
        src="https://d1f8f9xcsvx3ha.cloudfront.net/sbl/0.7.4/fastspring-builder.min.js"
        type="text/javascript"
        data-storefront="fastogt.onfastspring.com/popup-fastoredis"
        data-popup-closed="onPopupClose"
>
</script>
</body>
</html>
